:root {
  --red: #ec5b38;
  --bg: #fcf2e5;
  --bg-dark: #f7e8d4;
  --gray: #a8a492;
  --black: #524646;
}

.container {
  position: relative;
}

.button-container {
  width: 850px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.big {
  font-size: 28px;
  font-weight: bold;
}

.click {
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border: 1px solid var(--gray);
  border-radius: 5px;
  color: var(--black);
  font-size: large;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.monster-list {
  position: fixed;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10%;
  background-color: var(--bg);
  border: 1px solid var(--gray);
  border-radius: 5px;
  color: var(--black);
  font-size: large;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);  
  overflow-y: scroll;
}

.box {
  position: fixed;
  top: 40px;
  left: 29px;
  width: 800px;
  /* height: 90vh; for scrolling */
  max-height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  background-color: var(--bg);
  border: 1px solid var(--gray);
  border-radius: 5px;
  color: var(--black);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.box > .title {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.box > .title > div:first-child {
  width: 90%;
  height: 40px;
  font-size: 32px;
  border: 2px solid var(--red);
  border-radius: 5px;
  color: var(--black);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.box > .title > div:last-child {
  width: 5%;
  height: 40px;
  border: 2px solid var(--red);
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.close-btn > span {
  background-color: var(--black);
  width: 3px;
  height: 100%;
}
.close-btn > span:first-child {
  transform: rotate(45deg);
}
.close-btn > span:last-child {
  transform: rotate(-45deg);
}

.back-arrow > span {
  border-left: 3px solid var(--black);
  border-top: 3px solid var(--black);
  transform: rotate(-45deg);
  width: 50%;
  height: 50%;
  margin-left: 10px;
}

.box > .body {
  width: 95%;
  height: 85%;
  font-size: 24px;
  color: var(--black);
  background-color: var(--bg-dark);
  border: 1px solid var(--gray);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  white-space: pre-wrap;
}

.box > .body > div {
  width: 90%;
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.familiar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.familiar > div:first-child {
  margin-top: 20px;
}
.familiar > div:last-child {
  margin-bottom: 20px;
}

.familiar > span {
  width: 80%;
  background-color: var(--black);
  height: 1px;
  margin: 15px 0px;
}

.container > img,
.inputs-container {
  position: absolute;
  top: 50px;
  left: 0;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.abi {
  width: 60%;
  justify-content: space-between;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
}

.abi > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 5px;
}

.abi > div > div {
  height: 20px;
}

.input {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  overflow-y: scroll;
}

.spell-list {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  height: 95%;
}

.spell {
  font-size: large;
  font-weight: bold;
  margin: 5px 0px;
}
.spell:first-child {
  margin-top: 30px;
}
.spell:last-child {
  margin-bottom: 30px;
}

.start {
  justify-content: flex-start;
}

.full-spell > div {
  margin: 5px 0px;
  color: var(--black);
}

.check {
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: 141px;
  z-index: 2;
}

.saving {
  width: 19px;
  height: 11px;
  left: 157px;
}

.skill {
  width: 19px;
  height: 11px;
  left: 156px;
}

.stat_mod {
  position: absolute;
  left: 50px;
  width: 59px;
  height: 39px;
}

.stat_val {
  position: absolute;
  width: 29px;
  height: 18px;
  left: 65px;
}

.checkbox {
  position: absolute;
  width: 12px;
  height: 12px;
}

.traits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.spel-slot {
  display: flex;
  flex-direction: column;
}
.spel-slot > div {
  display: flex;
  flex-direction: row;
}
.spel-slot > div > div {
  margin: 0px 2px;
}
